<!DOCTYPE html>
<html lang="en">
<head>
	<title>Omdena</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


	<style>
	td {
		text-align: justify;
	}
	</style>
</head>
<body>



<div class="container-fluid">
<div class="page-header">
    <h1>Omdena - Iraq Chapter</h1>
  </div>


	<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#annotate"> Annotate Iraqi Arabic dialect that are wep scrapped from  comments, posts and other resources available on the internet </a></li>
</ul>

<div class="tab-content">
	<div id="annotate" class="tab-pane fade in active">
		<h3><a href="/annotate" >
			Annotate
		  </a></h3>
		<p>The goal is to annotate (label) over 6  thousands Iraqi dialect Arabic sentences</p>
			
	</div>

</div>

  </div>






</body>
<script>

</script>
</html>
